/* mobile first*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    padding: 10px;
    font-family: 'Courgette', cursive;
    font-family: 'Noto Sans Shavian', sans-serif;
}

.encabezado{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(53, 58, 64);
    color: beige;
    align-items: center;
    .logo_inicio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        /*padding-left: 20px;*/
        width: 100%;
        height: 50%;
    }
    .logo_inicio a img{
        width: 100%;
        max-width: 120px;
        cursor: pointer;
    }
    .logo_inicio h2{
        font-size: 22px;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
   /* .nav1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }*/
    .nav1 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        list-style: none;
        margin: 0;
        padding: 10px;
        /*margin-right: 40px;*/
        width: 100%;
        height: 50%;
    }
    .nav1 ul li{
        padding: 5px;
    }
    .nav1 ul li a {
        /* hacer que se ilumine cuando pasa el cursor por el nombre*/
            text-decoration: none;
            color: gray;
            font-size: 15px;
            font-weight: 400;
            
            /*transition: all 0.3s ease-in-out;*/
            
            /*cursor: pointer;*/
        }
        #colorverde {
            color: rgb(41, 167, 68);
        }

}
.encabezado2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../assets/img/ba1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 84.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    .seccion_ppal{
        padding: 150px 100px 100px 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
    }
    .seccion_ppal h1{
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        padding: 20px;
    }
    .seccion_ppal p {
        padding: 2px;
    }
    .botones{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    
    #quieroserorador{
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid white;
    
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
    }
    
    #comprartickets{
        padding: 10px 15px;
        margin-left: 15px;
        border-radius: 5px;
        background-color: green;
    
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;
        /*transition: all 0.3s ease-in-out;*/
    }
}

/*CONOCE A LOS ORADORES*/
.main {
    
    display: flex;
    flex-direction: column;
    /*font-family: "Poppins", Arial, sans-serif;*/
    .oradores{
        
        .titulo{
            margin-top: 10px;
            text-align: center;
            padding: 5px;
        }
        .titulo h2{
            font-size: 24px;
            font-weight: 500;
        }
        .titulo h2 div{
            text-align: center;
            font-size: 12px;
            font-weight: 300;
        }
        .tarjetas{
            display: flex;
            flex-direction: column;
            column-gap: 20px;
        
            /*grid-template-columns: repeat(3, 300px);*/
            margin: 10px auto 60px auto;
            .orador{
                border: 1px solid #dddddd;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 18px;
                .imgorador{
                    width: 300px;
                    border-radius: 5px;
                }
                .etiquetitas {
                    
                        display: flex;
                        margin-left: 5px;
                        margin-top: 15px;
                        
                    
                    
                    .etiquetaamarilla{
                        background-color: #fec107;
                        text-align: center;
                        padding: 3px 7px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    
                    .etiquetaceleste{
                        background-color: rgb(29, 159, 183);
                        text-align: center;
                        padding: 3px 7px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    
                    .etiquetagris{
                        background-color: #6c757d;
                        text-align: center;
                        padding: 3px 7px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    
                    .etiquetaroja {
                        background-color: red;
                        text-align: center;
                        padding: 3px 7px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 5px;
                        margin-right: 10px;
                    }

                }
                .nombre {
                    margin-left: 5px;
                    margin-top: 3px;
                    font-weight: 500;
                    font-size: 22px;
                    text-align: left;
                    padding: 2px;
                }
                /*texto orador*/
                
            }
            .orador p {
                margin: 15px 20px 20px 25px;
                font-weight: 300;
                font-size: 12px;
                line-height: 1.5;
                text-align: left;
                color: rgb(0, 0, 0);
            }
                
        }
}
    .lugarFecha {
        .fotohonolulu {
            width: 100%;
        }
        .lugartexto {
            background: rgb(53, 58, 64);
            border-left: white 1px solid;
            padding-left: 10px;
            width: 100% ;
            padding: 50px;
            .titulolugar{
                /*display: flex;
                align-items: flex-start;*/
                /*background: rgb(53,58,64);*/
                color: white;
                /*font-family: "Poppins", Arial, sans-serif;*/
                font-size: large;
                font-weight: 700;
                padding: 30px;
                padding-left: 10px;
                height: 80px;
            }
            .descriplugar {
                color: white;
                /*font-family: "Poppins", Arial, sans-serif;*/
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                padding-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;
                display: block;
            }
            .conoceMas{
                display: inline-block;
                /*font-family: "Poppins", Arial, sans-serif;*/
                #conoceMas {
                    font-weight: 300;
                    font-size: 15px;
                    border: 1px solid white;
                    border-radius: 3px;
                    padding: 5px;
                    margin-left: 10px;
                    text-decoration: none;
                    color: #dddddd;
                }
            }
        }
    }

    .formularioOrador {

        .formularioEncabezado {
            .convenun{
            
                /*font-family: "Poppins", Arial, sans-serif;*/
                text-align: center;
                font-size: medium;
                font-weight: 300;
                color: rgb(0, 0, 0);
                padding: 20px;
            }
            .orador {
                /*font-family: "Poppins", Arial, sans-serif;*/
                font-size: xx-large;
                font-weight: 700;
                color: rgb(0, 0, 0);
                text-align: center;
                border: 1px solid white;
                box-shadow: none;
            }
            .textoformulario {
                text-align: center;
                /*font-family: "Poppins", Arial, sans-serif;*/
                color: rgb(0, 0, 0);
                font-size: small;
            }
            
        }

        .contenidoform {
            .contenidoform__hijo{
                .datos {
                    /*display: flex;
                    flex-direction: row;
                    justify-content: space-between;*/
                    padding-left: 10px;
                    padding-top: 15px;
                    padding-bottom: 10px;
                    
                    .classnombre {
                        /*margin-right: 40px;*/
                        /*box-sizing: 100px;*/
                        
                        
                        padding: 10px;
                        #name {
                            padding: 5px;
                            /*font-family: "Poppins", Arial, sans-serif;*/
                            width: 300px;
                            
                        }
                        
                    }
                    .classapellido {
                        /*margin-right: 40px;*/
                        box-sizing: 100px;
                        
                        padding: 10px;
                        #apellido {
                            padding: 5px;
                            font-family: "Poppins", Arial, sans-serif;
                            width: 300px;
                            
                        }
                }
            }
            .comentario {
                width: 98%;
                /*font-family: "Poppins", Arial, sans-serif;*/
                padding: 5px;
                margin-left: 20px;
                #comentario{
                    padding: 5px;
                }
            }
            .contenidoform__nota{
                /*font-family: "Poppins", Arial, sans-serif;*/
                font-size: small;
                color: rgb(156, 152, 152);
                padding: 10px;
            }
            .botonEnviar input {
                width: 100%;
                /*font-family: font-family: "Poppins", Arial, sans-serif;*/
                font-weight: 300;
                font-size: 20px;
                background-color: rgb(150,201,62);
                border-radius: 5px;
                
                color: white;
                margin-bottom: 10px;
                border: 1px solid  rgb(150,201,62);
                padding: 10px;
            }
            
        }
        
    }
    }}

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 100px 20px 100px;
    background: linear-gradient(to right, rgb(22, 39, 47), rgb(29, 82, 113));
    .footer__nav ul{
        list-style: none;
    }
    .footer__nav ul li{
        padding: 5px;
    }
    .footer__nav ul li a {
        /* hacer que se ilumine cuando pasa el cursor por el nombre*/
            color: white;
            /*font-family: 'Noto Sans Shavian', sans-serif;*/
            text-decoration: none;
            /*font-family: "Poppins", Arial, sans-serif !important;*/
            font-size: 15px;
            font-weight: 400;
}
}